{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <form method="GET" action="/agenda/filter/">
        <label for="data_inicio">Data de Início:</label>
        <input type="date" id="data_inicio" name="data_inicio">
        <label for="data_fim">Data de Fim:</label>
        <input type="date" id="data_fim" name="data_fim">
        <button type="submit">Filtrar</button>
    </form>
    <form method="GET" action="/agenda/search/">
        <label for="procura_evento"></label>
        <input type="text" id="procura_evento" name="procura_evento">
        <button type="submit">Pesquisar</button>
    </form>
    <ul style="list-style-type: none; font-size: 18px;">
    {% for evento in eventos %}
          <li>
            <div style="{% if evento.get_evento_atrasado %}
                            color:red
                        {% endif %}">
                {{ evento.titulo }} em {{ evento.get_data_evento}} 
                ( <a href="evento/?id={{ evento.id }}">Editar</a> 
                / <a href="evento/delete/{{ evento.id }}/">Excluir</a> )
            </div>
        </li>
    {% endfor %}
    </ul>
    <a href="evento/">
        <button type="button" href="evento/">Novo Agendamento</button>
    </a>
{% endblock %}