{% extends "model-page.html" %}

{% block content %}

<h2>Novo Evento</h2>

<form action="submit" method="post">
    {% csrf_token %}
    <label><b>Titulo</b></label>
    <br>
    <input type="text" placeholder="Nome do Evento" name="titulo" size="19" required>
    <br>
    <label><b>Data do Evento:</b></label>
    <br>
    <input type="datetime-local" placeholder="Data do Evento" name="data_evento" required>
    <br>
    <label><b>Descrição</b></label>
    <br>
    <textarea placeholder="Descrição do Evento" rows="10" cols="35"name="descricao" required></textarea>
    <br><br>
    <button type="submit">Salvar</button>
    <a href="/agenda/">
    <button type="button">Cancelar</button>
    </a>
</form>

{% endblock %}