{% load static %}
<header class="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand">Projeto Agenda com<img src="{% static 'img/django_icon.svg' %}" width="70" height="60"></span>
            <div class="ms-auto">
                <span class="me-3 text-white">Bem-vindo, {{ user.first_name }} {{ user.last_name|default:user.username }}!</span>
                <a href="/logout" class="btn btn-outline-light btn-sm">Sair</a>
            </div>
        </div>
    </nav>
</header>